<div id='map'></div>

<%= content_tag "div", id: "map-data", data: { geojson: @geojson, token: ENV["MAPBOX_TOKEN"]} do %>
<% end %>

<div class="instagram-index">
  <table class="table">
    <% count = 0 %>
    <% @geojson.each do |instagram| %>
      <% count += 1 %>
      <div class=<%= "instagram-info#{count}" %>>
        <tr>
          <td class="instagram-thumb">
            <%= image_tag(instagram[:properties][:thumbnail]) %>
          </td>
          <td class="instagram-data">
            <%= instagram[:properties][:username] %><br><br>
            <%= instagram[:properties][:post] %><br><br>
            Likes: <%= instagram[:properties][:likes] %>
          </td>
          <%= content_tag "div", id: "marker-highlight", data: { geojson: instagram } do %>
          <% end %>
        </tr>
      </div>
    <% end %>
  </table>
</div>
