<div id='map'></div>
<%= content_tag "div", id: "map-data", data: { geojson: @geojson, token: ENV["MAPBOX_TOKEN"]} do %>
<% end %>

<div class="instagram-index">

  <table class="table">
    <% count = 0 %>
    <% @geojson.each do |instagram| %>
      
      <tr class='instagram-row' data-index='<%= count %>'>
        <td class="instagram-thumb">
          <%= image_tag(instagram[:properties][:thumbnail]) %><br>
          <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="<%= "#post-data#{count}" %>" aria-expanded="false" aria-controls="<%= "post-data#{count}" %>">
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
          </button>
          <div class="collapse" id="<%= "post-data#{count}" %>">
              <%= instagram[:properties][:username] %><br>
              <%= instagram[:properties][:post] %><br>
              Likes: <%= instagram[:properties][:likes] %>
          </div>
          <%  %>
        </td>
      </tr>

      <% count += 1 %>
    <% end %>
  </table>
</div>
