<div id='map'></div>

<%= content_tag "div", id: "map-data", data: { geojson: @geojson, token: ENV["MAPBOX_TOKEN"]} do %>
<% end %>

<div class="instagram-index">
  <table class="table">
    <% count = 0 %>
    <% @geojson.each do |instagram| %>
      <tr class='instagram-row' data-index='<%= count %>'>
        <td>
          <%= image_tag(instagram[:properties][:thumbnail]) %>
        </td>
        <td>
          <%= instagram[:properties][:username] %><br><br>
          <%= instagram[:properties][:post] %><br><br>
          Likes: <%= instagram[:properties][:likes] %>
        </td>
      </tr>
      <% count += 1 %>
    <% end %>
  </table>
</div>
