<div id='map'></div>
<%= content_tag "div", id: "map-data", data: { geojson: @geojson, token: ENV["MAPBOX_TOKEN"]} do %>
<% end %>

<div class="instagram-index">
  <table class="table">
    <% count = 0 %>
    <div id="locator"> Locator</div>
    <% @geojson.each do |instagram| %>
      
      <tr class='instagram-row' data-index='<%= count %>'>
        <td class="instagram-thumb">
          <%= image_tag(instagram[:properties][:thumbnail]) %>
        </td>
        <td class="instagram-data">
          <div class="display-text"> 
            <%= instagram[:properties][:username] %><br><br>
            <p><%= instagram[:properties][:post] %></p><br><br>
            Likes: <%= instagram[:properties][:likes] %>
          </div>
        </td>
      </tr>

      <% count += 1 %>
    <% end %>
  </table>
</div>
