<div id='map'></div>

<%= content_tag "div", id: "map-data", data: { geojson: @geojson, token: ENV["MAPBOX_TOKEN"]} do %>
<% end %>

<div class="instagram-index">
  <table class="table">
    <% count = 0 %>
    <% @geojson.each do |instagram| %>
      <tr>
        <td class=<%= "instagram-thumb#{count}" %>>
          <%= image_tag(instagram[:properties][:thumbnail]) %>
          <%= content_tag "div", id: "marker-highlight", data: { geojson: instagram } do %>
          <% end %>
        </td>
        <td class=<%= "instagram-data" %>>
          <%= instagram[:properties][:username] %><br><br>
          <%= instagram[:properties][:post] %><br><br>
          Likes: <%= instagram[:properties][:likes] %>
        </td>
      </tr>
      <% count += 1 %>
    <% end %>
  </table>
</div>
